<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/CSS/main.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/CSS/personalized/Md/light_mood.css">
    <link rel="stylesheet" href="/static/CSS/personalized/onevone_q.css">

    <script src="https://kit.fontawesome.com/01dd9deafe.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/JS/personalized/onevone_q.js" crossorigin="anonymous"></script>

    <title>profile</title>
</head>

<body>

    <div class="col-12 full-page-height flex stander-bg-light scientific-fnt">
        <div class="col-2 full-height" style="padding:0vh 1vw 0vh 0vw;">
            <div class="col-12 stander-items-bg-light" style="height: 100%;">
                <div id="left-list" class="col-12 flex flex-column stander-items-bg-light stander-padding" style="height: 100%;">
                    <div class="col-12 flex flex-centerize stander-padding" style="height:40%;">
                        freinds name
                    </div>
                    <div class="" style=" height:20%;">
                        <div id="left-image-container" class=" flex flex-centerize"
                            style="position:absolute; top:40%; height: 15vh; width: 15vw; max-width: 15vh; max-height: 15vw; ">
                            <img id="left-image"
                                style="box-shadow: 0px 0px 6px grey; border-radius: 90rem; height: 5rem; width:5rem; max-height: 100%; max-width: 100%;"
                                src="/static/Default/default_user/photography Instagram ideas.jpeg" alt="user photo">
                        </div>
                    </div>
                    <div class="col-12 flex flex-centerize flex-column" style="height:40%;">
                        <div class="col-12 flex flex-evenly">
                            <div class="col-5 flex flex-column flex-centerize">
                                <div> Right </div>
                                <div> ... </div>
                            </div>
                            <div class="col-5 flex flex-column flex-centerize">
                                <div> Wrong </div>
                                <div> ... </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 full-height" style="padding:0vh 1vw 0vh 0vw;">
                        
            <div class="col-12 stander-items-bg-light" style="height: 100%;">
                <div id="game-components" class="full-height">
                    <div class="col-12 flex flex-column flex-centerize" style="height:35%;">
                        <div class="col-12 flex flex-centerize stander-padding">
                            <h1> Quizz Game </h1>
                        </div>
                        <div class="col-12 flex flex-centerize stander-padding" style="opacity: 0.8;">
                            Timer: 0:59
                        </div>
                    </div>
                    <div class="col-12 flex flex-column flex-centerize stander-padding"
                        style="justify-content: space-evenly; height: 55%;">
                        <div class="col-8 text-centerize stander-padding stander-margin" style="font-size:larger;">
                            Q1: would the first question be showen here ?
                        </div>
                        <div class="col-6 flex flex-centerize" style="height: 65%;">
                            <ol class="flex flex-column flex-evenly col-12"
                                style="list-style-type: upper-alpha; height:100%;">
                                <li class="quizz-proposition stander-padding no-edges"> first proposition </li>
                                <li class="quizz-proposition stander-padding no-edges"> second proposition </li>
                                <li class="quizz-proposition stander-padding no-edges"> third proposition </li>
                                <li class="quizz-proposition stander-padding no-edges"> foorth proposition </li>
                            </ol>
                        </div>
                        <div class="col-12 flex">
                            <div class="col-10"></div>
                            <div class="col-2">
                                <div class="flex flex-evenly">
                                    <div>Next</div>
                                    <div><i class="fas fa-caret-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- hadi ze3ma parts li fiha settings -->
                <div id="game-settings" class=" no-display flex flex-column flex-evenly full-height">
                    <div class="col-12 flex flex-evenly">
                        <div class="col-6 flex flex-centerize"> year </div>
                        <div class="col-6 flex flex-centerize"> nombre des QCMs </div>
                    </div>
                    <div class="col-12 flex flex-centerize">
                        <div class="col-6 flex flex-centerize"> <input style="width: fit-content;" type="number" name="" id=""> </div>
                    </div>
                    <div class="col-12 flex flex-evenly">
                        <div class="col-6 flex  flex-column"> 
                            <div>wich unit want you to play?</div>
                            <select class="col-5" name="" id="">
                                <option value="">all</option>    
                                <option value="">Anatomie</option>    
                                <option value="">Histologie</option>    
                                <option value="">Biochimie</option>    
                                <option value="">Biophysique</option>    
                            </select>
                        </div>
                        <div class="col-6 flex flex-column">
                            <div>Nombre des QCMs?</div>
                            <select class="col-5" name="" id="">
                                <option value="">10</option>    
                                <option value="">15</option>    
                                <option value="">20</option>    
                            </select>
                        </div>
                    </div>
                </div>


            </div>

            





        </div>
        <div id="right-list" class="col-2 full-height" style="">
            <div class="col-12 flex flex-column stander-items-bg-light stander-padding" style="height: 100%;">
                <div class="col-12 flex flex-centerize stander-padding" style="height:40%;">
                    User name
                </div>
                <div class="" style=" height:20%;">
                    <div id="right-image-container" class=" flex flex-centerize"
                        style="position:absolute; top:40%; height: 15vh; width: 15vw; max-width: 15vh; max-height: 15vw; ">
                        <img id="right-image"
                            style="box-shadow: 0px 0px 6px grey; border-radius: 90rem; height: 5rem; width:5rem; max-height: 100%; max-width: 100%;"
                            src="/static/Default/default_user/Photo by Max Andrey on Pexels.jpeg" alt="user photo">
                    </div>
                </div>
                <div class="col-12 flex flex-centerize flex-column" style="height:40%;">
                    <div class="col-12 flex flex-evenly">
                        <div class="col-5 flex flex-column flex-centerize">
                            <div> Right </div>
                            <div> ... </div>
                        </div>
                        <div class="col-5 flex flex-column flex-centerize">
                            <div> Wrong </div>
                            <div> ... </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

<script>
    setTimeout(positionRightImage(), 50)
</script>

</html>